.hero_card {
  max-width: 1180px;
  display: flex;
  flex-direction: row;
  border: 1px solid lightgray;
  margin: 48px auto 16px auto;
}

.image_container {
  width: 40%;
}

.title {
  font-size: var(--text-title);
  font-weight: var(--extrabold);
}

.text_container {
  width: 60%;
}

.link {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  margin-top: 1rem;
}

.link:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 1185px) {
  .hero_card {
    max-width: 95%;
  }
}

@media screen and (max-width: 767px) {
  .hero_card {
    max-width: 100%;
    flex-direction: column;
    margin-top: 0;
  }

  .image_container, .text_container {
    width: 100%;
  }
}
