.card {
  border: 1px solid lightgray;
  border-radius: 3px;
  box-shadow: -2px 3px 2px -1px rgba(0, 0, 0, 0.27);
  margin-top: 1rem;
  margin-right: 1rem;
  width: 350px;
  min-height: 370px;
}

.card:hover {
  box-shadow: -3px 4px 2px -1px rgba(0, 0, 0, 0.27);
}

.image_container {
  height: 250px;
  overflow: hidden;
}

.title {
  display: inline-block;
  font-size: var(--text-lg);
  margin-bottom: var(--space-xs);
  margin-top: var(--space-lg);
  border-bottom: 1.5px solid transparent;
}

.link {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  margin-top: 1rem;
}

.link:hover {
  background-color: #fff;
  color: #000;
}

.link:hover .title {
  border-bottom-color: var(--primary);
}

.meta {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .card {
    width: 100%;
  }
}
